<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image %>
  <h4>name  <%= @user.name %></h4>
  <h4>introduction  <%= @user.introduction %></h4>
  
  <%= link_to  "edit", edit_user_path(@user) %>

</div>
