<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image %>
  <h4>name  <%= @user.name %></h4>
  <h4>introduction<%= @user.introduction %></h4>
</div>
